.city_keyboard {
  background-color: #1c1d1d;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  padding: 24px 21px;
}

@media (min-width: 768px) {
  .city_keyboard {
    padding: 24px 49px;
  }
}

.city_keyboard span {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  border-radius: 9px;
  text-align: center;
}

@media (min-width: 768px) {
  .city_keyboard span {
    font-size: 16px;
    padding: 12px;
  }
}

.city_keyboard label {
  cursor: pointer;
}

.city_keyboard input:checked + span {
  color: #131414;
  background-color: #1cc8ee;
}

.city_keyboard label[for="set_city"] {
  grid-column-start: 3;
  grid-column-end: 6;
}
