.App {
  min-height: 100vh;
  background: url("./assets/homepage-background.png") 30% center / cover
    no-repeat #131414;
  /* mix-blend-mode: lighten; */
}

@media (min-width: 768px) {
  .App {
    background: url("./assets/homepage-ipad.png") center center / cover
      no-repeat #1f2121;
  }
}

@media (min-width: 1200px) {
  .App {
    background: url("./assets/homepage-desktop.png") center center / cover
      no-repeat #1f2121;
  }
}

.button_heavy {
  padding: 6px;
  border-radius: 6px;
  background-color: #131414;
  border: 1px solid #1cc8ee;
  box-shadow: 0px 0px 6px #1cc8ee, 0px 0px 2px #1cc8ee;
  color: #1cc8ee;
}
